<template>
  <v-container class="pt-10">
      <div ref="aboutLogoWrapper" style="opacity: 0.0" class="logo-image-wrapper mb-5">
        <img @mouseenter="bump()" @click="bump()" class="logo-image" src="/img/icons/icon-512x512.png">
      </div>
      <div class="text-center">
          <h2 ref="aboutTitle" class="mb-2" style="opacity: 0.0">My Favorite Cars</h2>
          <p ref="aboutVersion" style="opacity: 0.0">Version 1.0</p>
      </div>
  </v-container>
</template>

<script>
import { TweenMax, Elastic, Power3 } from 'gsap/TweenMax';

export default {
    data() { return {
        logoAnim: true,
    } },

    mounted() {
        let self = this;

        TweenMax
        .fromTo(this.$refs.aboutLogoWrapper, 1.5, {x: -100, opacity: 0}, {x: 0, opacity: 1, ease: Power3.easeInOut})
        .delay(.5)
        .eventCallback('onComplete', ()=>{
            self.logoAnim = false;
        });
        TweenMax.fromTo(this.$refs.aboutTitle, 1.5, {y: 50, opacity: 0}, {y: 0, opacity: 1, ease: Elastic.easeOut}).delay(1.25);
        TweenMax.fromTo(this.$refs.aboutVersion, 1.5, {y: 50, opacity: 0}, {y: 0, opacity: 1, ease: Elastic.easeOut}).delay(1.75);   
    },

    methods: {
        bump() {
            if(!this.logoAnim) { 
                TweenMax.killTweensOf(this.$refs.aboutLogoWrapper);
                TweenMax.to(this.$refs.aboutLogoWrapper, 0.15, {scale: 1.3, ease:Power3.easeIn});
                TweenMax.to(this.$refs.aboutLogoWrapper, 0.5, {scale: 1.0, ease:Power3.easeOut}).delay(.15);   
            }
        }
    },
}
</script>

<style>
.logo-image-wrapper {
    text-align: center;
    
}

.logo-image {
    width: 50%;
    max-width: 300px;
    animation: rotate-360 0.5s infinite linear;
}

@keyframes rotate-360 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

</style>