<template>
    <div>
        <v-container  class="px-5 pt-5">
            <router-link to="/" class="go-back">
                <v-icon class="mr-2">mdi-arrow-left</v-icon>
                <span>Back to the overview</span>
            </router-link>
        </v-container>

        <v-layout justify-center v-if="loading || loadingError">
            <div class="loader" v-if="loading"></div>
            <v-alert type="error" v-if="loadingError">
                Failed to load car data.
            </v-alert>
        </v-layout>

        <div v-show="!loading && !loadingError">
            <v-row no-gutters>
                <v-col :cols="12" :lg="6" class="pb-lg-10">
                    <swiper :options="swiperOptions" >
                        <swiper-slide v-for="(img,index) in car.images" :key="index">
                            <img class="img-fluid car-img" :src="img">
                        </swiper-slide>
                        <div class="swiper-pagination"  slot="pagination"></div>
                    </swiper>
                </v-col>
                <v-col :cols="12" :lg="6">
                    <v-container class="car-details-container">

                        <h1 class="car-title">{{car.title}}</h1>
                        <div class="gray-text mb-4">{{car.year}}</div>

                        <v-row>
                            <v-col>
                                <h3 class="mb-1">Engine</h3>
                                <v-card class="spec-card">
                                    <div class="px-4 py-3">
                                        {{car.engine}}
                                    </div>
                                </v-card>
                            </v-col>
                        </v-row>

                        <v-row>
                            <v-col>
                                <h3 class="mb-1">Horsepower</h3>
                                <v-card class="spec-card">
                                    <div class="px-4 py-3">
                                        {{car.horsepower}}
                                    </div>
                                </v-card>
                            </v-col>
                            <v-col>
                                <h3 class="mb-1">Torque</h3>
                                <v-card class="spec-card">
                                    <div class="px-4 py-3">
                                        {{car.torque}}
                                    </div>
                        </v-card>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <h3 class="mb-1">Stock acceleration (0-100km/h)</h3>
                                <v-card class="spec-card">
                                    <div class="px-4 py-3">
                                        {{car.acceleration1}}
                                    </div>
                                </v-card>
                            </v-col>
                        </v-row>
                        <v-row>
                            <v-col>
                                <h3 class="mb-1">Comment</h3>
                                <v-card>
                                    <div class="pa-4">
                                        {{car.comment}}
                                    </div>
                                </v-card>
                            </v-col>
                        </v-row>

                    </v-container>
                </v-col>
            </v-row>
        </div>
    </div>

</template>

<script>
export default {
    data() { return {
        swiperOptions: {
            effect: 'slide',
            speed: 500,
            pagination: {
                el: '.swiper-pagination',
                type: 'bullets',
                clickable: true,
            },
        },

        car: {},
        loading: true,
        loadingError: false,
    } },

    created() {
        axios.get(apiRoot + '/api/cars/' + this.$route.params.slug)
        .then(resp => {
            this.car = resp.data.data;
            this.loading = false;
        })
        .catch(err => {
            this.loading = false;
            this.loadingError = true;
        });
    },
}
</script>

<style lang="scss">
@import '@/scss/colors.scss';

.go-back {
    display: flex;
    align-items: center;
    text-decoration: none;
}

.go-back, .go-back .v-icon  {
    color: $secondary !important;
    font-weight: 700;
}

.car-pics-swiper-container {
    width: 100%;
    max-width: 100%;
    padding: 0;
}

.spec-card {
    text-align: center;
    color: $accent !important;
    font-weight: 700;
    font-size: 1.2rem;
}

.car-title {
    line-height: 1;
    margin-bottom: .5rem;
}

.car-img {
    margin: 0 auto;
}

.car-details-container {
    padding: 0 1rem;
    padding-top: 1.5rem;
}

@media (min-width: 1264px) {
    .car-pics-swiper-container {
        max-width: 1264px;
        padding: 0 20px;
    }
    
    .car-details-container {
        padding: 0 2.5rem;
    }
}

</style>