<template>
  <v-container class="pa-5">
    <h3 class="mb-2">Welcome to My Favorite Cars!</h3>
    <p class="mb-3">Here's a collection of my favorite cars. Feel free to check any of them.</p>
    <div ref="carTilesContainer" class="car-tiles-container">
      <v-layout justify-center  v-if="loading || loadingError" class="mt-3">
        <div class="loader" v-if="loading"></div>
        <v-alert type="error" v-if="loadingError">
          Failed to load cars.
        </v-alert>
      </v-layout>
      <v-row v-show="!loading && !loadingError">
        <v-col class="py-2" :cols="12" :sm="6" :lg="4" v-for="car in cars" :key="car.id">
          <router-link tag="a" :to="'/car/' + car.slug">
            <car-tile :brand-code="car.brand_code" :car-name="car.title"></car-tile>
          </router-link>
        </v-col>
      </v-row>
    </div>
  </v-container>
</template>

<script>
import CarTile from '@/components/CarTile.vue';

import {TweenMax, Power3} from 'gsap/TweenMax';

export default {
  components: {
    CarTile
  },

  data() { return {
    cars: [],
    loading: true,
    loadingError: false,
  } },

  created() {
    axios.get(apiRoot + '/api/cars')
    .then(resp => {
      this.cars = resp.data.data;
      this.loading = false;
      this.$nextTick(() => {
        this.introAnim();
      });
    })
    .catch(err => {
      this.loading = false;
      this.loadingError = true;
    });
  },

  methods: {
    introAnim() {
      const carTiles = this.$refs.carTilesContainer.querySelectorAll('.car-tile');
      _.each(carTiles, (elem,i) => {
        TweenMax.fromTo(elem, .5  ,{opacity: 0, y:10}, {opacity: 1, y:0, ease: Power3.easeOut  }).delay(i*0.1 + 0.25);
      });
    }
  },

  mounted() {

  },
}
</script>

<style>
.car-tiles-container {
  display: flex;
  flex-wrap: wrap;
}

.car-tiles-container  .car-tile {
   transition: none !important;
}

.car-tiles-container a {
  text-decoration: none;
}

</style>