<template>
  <div>
    <v-container class="pa-5" v-if="swApiSupported === false">
      <v-alert type="warning">
        Your browser currently does not provide the Service Worker API.
        Push notifications are unavailable.
      </v-alert>
    </v-container>

    <v-container class="pa-5" v-if="swRegFound === false">
      <v-alert type="warning">
        Service worker registration not found.
      </v-alert>
    </v-container>

    <v-container class="pa-5" v-if="swApiSupported === true && swRegFound === true">
      <div class="mb-6">
        <h3 class="mb-2">Automotive news subscription service</h3>
        <p style="max-width:700px">
          By subscribing to this service, 
          you'll receive a push notification containing a random, 
          automotive related news article whenever you wish.
        </p>
        <p>Just send a GET request to this url after subscribing:</p>
        <div class="link-container">
          <a target="_blank" href="https://mfcapp.webdevstudio.nl/api/send_notifications">
            https://mfcapp.webdevstudio.nl/api/send_notifications
          </a>
        </div>
      </div>

      <div class="mb-6">
        <h4 class="mb-2">Subscription status</h4>
        <div class="loader" v-if="loading"></div>
        <div 
          v-if="!loading" 
          :class="{'red--text': !subscribed, 'green--text': subscribed}"
        >
          {{ subscribed ? "You are subscribed." : "You are not subscribed." }}
        </div>
      </div>

      <v-alert dismissible type="error" class="mb-6" v-model="errorShow">
        {{errorText}}
      </v-alert>

      <div v-if="!loading">
        <h4 class="mb-2">Manage subscription</h4>
        <v-btn 
          @click="changeSubscription()" 
          :disabled="!subBtnEnabled" 
          v-if="!permissionsRejected"
          color="secondary"
        >
          {{subscribed ? "Unsubscribe" : "Subscribe"}}
        </v-btn>

        <v-alert type="error" v-if="permissionsRejected">
          Notifications permissions are rejected. 
          To use this function, allow notifcations and refresh this page.
        </v-alert>

        <div class="loader" v-if="working"></div>
      </div>

    </v-container>
  </div>
</template>

<script>
export default {
  data: ()=>{return{
    subscribed: false,
    working: false,
    swApiSupported: null,
    swRegFound: null,
    subBtnEnabled: true,
    loading: true,

    errorText: null,
    errorShow: false,

    permissionsRejected: false,
  }},

  methods: {
    hideError() {
      this.errorText = "";
      this.errorShow = false;
    },

    showError(err) {
      this.errorText = err;
      this.errorShow = true;
    },

    async changeSubscription() {
      this.subBtnEnabled = false;
      this.hideError();
      const reg = await navigator.serviceWorker.getRegistration();
      if(!reg) {
        this.swRegFound = false;
        return;
      }
      const subscription = await reg.pushManager.getSubscription();

      if(subscription !== null) {
        // unsubscribe
        this.working = true;
        try {
          await subscription.unsubscribe();
        } catch (err) {
          this.working = false;
          this.subBtnEnabled = true;
          this.showError("Unsubscription attempt failed.");
          return;
        }
        this.working = false;
        this.subscribed = false;
        this.subBtnEnabled = true;
      } else {
        // subscribe
        this.working = true;
        let sub = null;
        try {
          sub = await reg.pushManager.subscribe({
            userVisibleOnly: true,
            applicationServerKey: pushPublicKey
          });
        } catch(err) {
          if(Notification.permission === "denied") {
            this.permissionsRejected = true;
          } else {
            this.showError("Subscription attempt failed.");
          }
          this.working = false;
          this.subBtnEnabled = true;
          return;
        }

        const success = await this.sendSubscriptionToServer(sub);

        if(!success) {
          sub.unsubscribe();
          this.showError("Failed to send the subscription object to remote.");
        }

        this.working = false;
        this.subscribed = success;
        this.subBtnEnabled = true;
        
      }
    },

    sendSubscriptionToServer(subObject) {
      return new Promise((resolve,reject) => {
        axios.post(apiRoot + '/api/push_subscribe', {data: subObject})
        .then(resp => {
          resolve(true);
        })
        .catch(err => {
          resolve(false);
        });
      });
    }
  },

  async created() {
    if('serviceWorker' in navigator) {
      this.swApiSupported = true;
      const reg = await navigator.serviceWorker.getRegistration();
      if(!reg) {
        this.swRegFound = false;
        return;
      }
      this.swRegFound = true;
      if(Notification.permission === "denied") {
        this.permissionsRejected = true;
      }
      const subscription = await reg.pushManager.getSubscription();
      this.subscribed = subscription !== null;
      this.loading = false;
    } else {
      this.swApiSupported = false;
    }
  }
}
</script>

<style>
.link-container {
  width: 100%;
  background: #333;
  border-radius: 1rem;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  padding: 1rem;
}

.link-container a {
  font-weight: 700;
}
</style>