<template>
  <v-card class="car-tile" v-ripple>
      <div class="pa-4">
          <div class="d-flex">
              <div class="car-brand-logo">
                  <img class="img-fluid" :src="carBrandImgs[brandCode] || '/img/no_image.png'">
              </div>
              <div class="car-name">
                  <span>{{carName}}</span>
              </div>
          </div>
      </div>
  </v-card>
</template>

<script>
import carBrandImgs from '@/carBrandImgs';

export default {
    data: () => { return {
        carBrandImgs
    } },
    props: {
        carName: String,
        brandCode: String,
    }
}
</script>

<style>
.car-tile {
    cursor: pointer !important;
}

.car-brand-logo {
    flex-basis: 50px;
    align-items: center;
    margin-right: 1rem;
    display: flex;
}

.car-name {
    display: flex;
    align-items: center;
    font-weight: 700;
}
</style>