@import "colors.scss";

.w-100 {
    width: 100% !important;
}

.img-fluid {
    max-width: 100%;
    display: block;
}

h1,h2,h3,h4,h5,h6 {
    color: $secondary;
}

.swiper-pagination-bullet {
    background: white;
    opacity: 0.5;
}

.swiper-pagination-bullet-active {
    background: $primary;
    opacity: 1.0;
}

.gray-text {
    color: #9a9a9a;
}

.loader,
.loader:after {
  border-radius: 50%;
  width: 4rem;
  height: 4rem;
}
.loader {
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.5rem solid rgba(0, 0, 0, 0.1);
  border-right: 0.5rem solid rgba(0, 0, 0, 0.1);
  border-bottom: 0.5rem solid rgba(0, 0, 0, 0.1);
  border-left: 0.5rem solid $primary;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


@media (min-width: 1264px) {
    .container {
        max-width: 1264px;
    }
}

@media (min-width: 1900px) {
    .container {
        max-width: 1264px;
    }
}
